<h1>15-Hour Pre-Licensing Applied Principles Interactive Course</h1>


<p><img src="assets/course_photo.jpg" style="float: left; margin: 0 40px 40px 0;">This interactive course is required to be completed in conjunction with the 75-hour educational class in order for a student to sit for the Illinois Broker's License Exam, and is currently offered over the internet.  This program allows students to apply the concepts and principles they learned in the 75-hour topics course to case studies and real-life scenarios, which offers the students an opportunity to learn more about the intent of the law and how it impacts the consumer.  For additional information, please feel free to contact us at (630) 324-7117 or support@ilrealestateschool.com.</p>

<p class="accent">Please SIGN UP or SIGN IN and click COURSE above to access class text and audio.</p>

<p class="accent">There is a section at the bottom to post questions and comments for student/instructor interactivity.</p>